@import "tailwindcss";

html, body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.gm-style-iw.gm-style-iw-c {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.gm-style-iw-tc {
  display: none !important;
}

.gm-style-iw-c .gm-ui-hover-effect span {
  background-color: white !important;
}